name: Run Plex Tool
on:
  schedule:
    - cron: '0 0 * * *' # Runs nightly at midnight
  workflow_dispatch: # Allows manual triggers

jobs:
  plex-job:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    defaults:
      run:
        working-directory: ./plex_tool # Ensures GitHub operates in the correct folder

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Run Scraper
        run: php update.php

      - name: Save Changes
        run: |
          cd ..
          git config --local user.email "action@github.com"
          git config --local user.name "BuddyChewChew-Bot"
          git add plex_tool/channels.json
          git commit -m "BuddyChewChew-Bot: Auto-update channels.json" || exit 0
          git push
