name: Run Plex Tool
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  plex-job:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    defaults:
      run:
        working-directory: ./plex_tool

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: curl, json

      - name: Run Scraper
        run: php update.php

      - name: Save Changes
        run: |
          cd ..
          git config --local user.email "action@github.com"
          git config --local user.name "BuddyChewChew-Bot"
          git add plex_tool/channels.json plex_tool/plex_channels.m3u
          git commit -m "BuddyChewChew-Bot: Auto-update channels" || exit 0
          git push
