name: Run Plex Tool
on:
  schedule:
    - cron: '0 0 * * *' # Every night at midnight
  workflow_dispatch: # Allows you to push the "Run" button manually

jobs:
  plex-job:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    # This ensures GitHub "enters" the folder before starting
    defaults:
      run:
        working-directory: ./plex_tool

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Run Scraper
        run: php update.php

      - name: Save Changes
        run: |
          cd ..
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action Bot"
          git add plex_tool/channels.json plex_tool/plex_channels.m3u
          git commit -m "Auto-update plex_tool" || exit 0
          git push
